<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <title>Spring MVC</title>
</head>
<body>
    <div class="container">
        <div class="card" style="border: 3px solid">
            <div class="card-body">
                <h4>LIST USER</h4>
                <br/><br/>
                <form th:object="${search}" method="post" th:action="@{/search}">
                    <input style="width: 200px; border: 3px solid" type="search" placeholder="Search" th:field="*{keyword}">
                    <button class="btn btn-outline-dark" style="border: 3px solid" type="submit">Search</button>
                </form>
                <br/>
                <table class="table table-stripped table-responsive-md" style="border: 3px solid">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="users : ${users}">
                            <td th:text="${users.name}"></td>
                            <td th:text="${users.email}"></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <a class="btn btn-outline-dark" style="border: 3px solid" th:href="@{'/createUser'}">Add</a>
            </div>
        </div>
    </div>
    <script src="webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>